.view {
    width: 100vw;
    height: 100vh;
}

.main-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: url("/mainbg.png"); */
}

.main-view-bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.main-view-bg .bg-clouds {
    position: absolute;
    top: calc(100vh - 670px - 19vw);
    left: 0;
    max-width: 100vw;
}

.main-view-bg .bg-ground {
    position: absolute;
    bottom: -15vw;
    left: 0;
    max-width: 100vw;
}

.main-view-content {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}

.main-view h1 {
    margin-bottom: 15%;
}

.main-view-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-view-nav-split {
    display: flex;
    width: 340px;
    justify-content: space-between;
}
